<!-- Обувь -->

{% extends 'index.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div>
    <h3>Одежда</h3>
    <ul>
        <li><a href="/shoes/boots/">
                <h4>Ботинки</h4>
            </a></li>
        <li><a href="/shoes/slippers/">
                <h4>Тапки</h4>
            </a></li>
    </ul>
    <!-- {% block content %}
    <h2>Описание страницы "Обувь".</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, rerum distinctio repudiandae doloremque alias ab nihil obcaecati in quia. Architecto.</p>
    {% endblock %} -->

</div>
{% endblock %}