{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div >
    {% for student in students %}
    <p >Имя студента: {{student.name }}<br>
        Фамилия студента: {{ student.surname }}<br>
        Возраст студента: {{ student.age }} лет<br>
        Пол студента: {{ student.gender }}<br>
        Группа студента: {{ student.group }}<br>
        Название факультета: {{ student.faculty_id }}
    </p>
        
    {% endfor %}
</div>
{% endblock %}